@import "null.css";

.page-header__link {
	color: blueviolet;
}

h1 {
	color: coral;
}

div h2 {
	color: firebrick;
}

.production__name {
	color: darkblue;
}

.design__list {
	color: aquamarine;
}

.cockpit p {
	color: chartreuse;
}

.passenger .passenger__text {
	color: darkgreen;
}

.passenger {
	color: darkorchid;
}

.passenger__text.text-passenger {
	color: darkmagenta;
}
